* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'San-Francisco', sans-serif;
  color: var(--other-color);
}
body {
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
